.cproject
.nedexclusions
.nedfolders
.oppbuildspec
.project
.pydevproject
.settings/
out/
/tsn_fault_recovery
experiments/*/raw/
results/*/runs/
simulations/*/results/
scripts/__pycache__/
core
core.*
