.cproject
.nedexclusions
.nedfolders
.oppbuildspec
.project
.pydevproject
.settings/
out/
/tsn_fault_recovery
scripts/__pycache__/
tools/__pycache__/
tests/__pycache__/
.venv-jrs/
.venv-jrs-scip/
gurobi.lic
*.gurobi.lic
core
core.*
